<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.highbryds.fitfinder">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />


    <application
        android:name=".app.MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.highbryds.fitfinder.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>


        <activity android:name=".ui.carpool.fitrider.FR_PendingRequest" />
        <!-- <activity android:name=".ui.carpool.CarpoolSelectionActivity"/> -->
        <activity android:name=".ui.Splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.DEFAULT" /> -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity android:name=".ui.carpool.fitrider.FR_SearchCarList" />
         <activity android:name=".ui.OnBoarding.OnBoardingActivity" />
        <activity android:name=".ui.carpool.fitrider.FR_Adress_Activity" />
        <activity
            android:name=".ui.carpool.fitrider.FR_RequestForm"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".ui.Chatting.MessagesListActivity" />
        <activity android:name=".ui.Chatting.CallScreenActivity" />
        <activity
            android:name=".ui.Chatting.MessageActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.OnBoarding.FirstScreen" />
        <activity android:name=".ui.Profile.UserProfileSetting" />
        <activity android:name=".ui.Profile.UserStories" />
        <activity android:name=".ui.carpool.CarpoolSelectionActivity">

        </activity>
        <activity android:name=".ui.Main.VoiceRecorderActivity" /> <!-- <activity android:name=".ui.StoryView.StoryFullViewActivity"/> -->
        <activity android:name=".ui.Main.HomeMapActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".ui.Auth.LoginActivity">

        </activity>
        <activity android:name=".ui.StoryView.StoryFullViewActivity" />
        <activity android:name=".ui.Profile.UpdateProfile" />
        <activity android:name=".ui.Profile.UserProfileMain" /> <!-- <activity -->
        <activity android:name=".ui.Profile.MyProfile" /> <!-- <activity -->
        <!-- android:name=".ui.Auth.LoginActivity" -->
        <!-- android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" -->
        <!-- android:label="@string/app_name"/> -->
        <activity android:name=".ui.carpool.fitdriver.FD_RequestForm" />
        <activity android:name=".ui.carpool.fitdriver.FD_Adress_Activity" />
        <activity android:name=".ui.carpool.fitdriver.AddCarActivity" />
        <activity android:name=".ui.carpool.fitdriver.RideRequestsActivity" />

        <activity android:name=".ui.Main.MainActivity" /> <!-- Facebook MetaData -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service
            android:name=".services.FirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- Google Map -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBGDEQg9iXtNpY_NEwrtYt2i8R2NlP50Qk" /> <!-- Google Map -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBGDEQg9iXtNpY_NEwrtYt2i8R2NlP50Qk" />
    </application>

</manifest>